<div class="keyPopup" id="keyPopup" aria-hidden="true"></div>
<div class="row" data-keys="QWERTYUIOP"></div>
<div class="row" data-keys="ASDFGHJKL"></div>
<div class="row third" data-keys="ßZXCVBNM"><button class="key back" data-key="BACK">⌫</button></div>
<div class="row special"><button class="key" data-key="ä">ä</button><button class="key" data-key="ö">ö</button><button class="key" data-key="ü">ü</button><button class="key space" data-key="SPACE" aria-label="Space">&nbsp;</button><button class="key ok" data-key="OK">✓</button></div>
